@using vp_server.Models.ViewModels
@model vp_server.Models.ViewModels.ProductViewsTransactions
@{
    ViewBag.NamePage = "О продукте";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <body>
    <div class="main">
        <div class="container">
                @using (Html.BeginForm("UpdateProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="marga">   
                    <div class="row">
                        <div class="col">
                        <label>
                                <img id="uploadPreview" style='width:400px; height:400px;' class="rounded-3" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Product.Image))" />
                                <input id="uploadImage" onchange="PreviewImage();" type="file" name="PhotoFile" enctype="multipart/form-data" style="display:none" />                               
                        </label>
                        <div class="row">
                                @await Html.PartialAsync("QuantityAdd",Model)
                        </div>
                        </div>
                        <div class="col">
                            <input type="number" hidden="hidden" asp-for="Product.Id" value="@Model.Product.Id" />
                            <p>
                                <label>Название:</label>
                                <input type="text" class="form-control" asp-for="Product.Title" value="@Model.Product.Title" /><span asp-validation-for="Product.Title" />
                            </p>
                            <p>
                                <label>Стоимость:</label>
                                <input type="number" step="any" min="0" class="form-control" asp-for="Product.Cost" value="@Model.Product.Cost.ToString().Replace(',','.')" /><span asp-validation-for="Product.Cost" />
                            </p>
                            <p>
                                <label>Материал:</label>
                                <input type="text" class="form-control" asp-for="Product.Material" value="@Model.Product.Material" /><span asp-validation-for="Product.Material"/>
                            </p>
                            @if (Model.Product.Taste != null)
                            {
                                <p>
                                    <label>Вкус:</label>
                                    <input type="text" class="form-control" asp-for="Product.Taste" value="@Model.Product.Taste"/>
                                </p>
                            }
                            <p>
                                <label>Категория</label>
                                @Html.DropDownListFor(p => p.Product.CategoryId, ViewBag.categories as SelectList, null, new { @class = "form-control" })
                            </p>
                            <p>
                                <label>Количество никотина:</label>
                                @Html.DropDownListFor(p => p.Product.NicotineType, ViewBag.nicotine as SelectList, null, new { @class = "form-control" })
                            </p>
                            <p>
                                <label>Крепкость:</label>
                                @Html.DropDownListFor(p => p.Product.StrengthId, ViewBag.strenght as SelectList, null, new { @class = "form-control" })
                            </p>
                            <p>
                                <label>Производитель:</label>
                                @Html.DropDownListFor(p => p.Product.ManufacturerId, ViewBag.manufacturers as SelectList, null, new { @class = "form-control" })
                            </p>                            
                            <p>
                                <input type="submit" class="btn btn-primary" value="Обновить" /> @Html.ActionLink("Удалить", "Delete", "Home", new { id = Model.Product.Id }, new { @class = "btn btn-danger" })
                            </p>
                            <p>
                                <input type="text" name="daterange" value="03/12/2024 - 01/15/2024" />
                                <script type="text/javascript" src="~/js/datepicker/moment.min.js"></script>
                                <script type="text/javascript" src="~/js/datepicker/daterangepicker.min.js"></script>
                                <link rel="stylesheet" type="text/css" href="~/css/daterangepicker.css" />
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <script src="~/js/diagram/highcharts.js"></script>
                        <script src="~/js/diagram/exporting.js"></script>
                        <script src="~/js/diagram/export-data.js"></script>
                        <script src="~/js/diagram/accessibility.js"></script>                       
                        <figure class="highcharts-figure">
                            <div id="container"></div>                           
                        </figure>
                    </div>

                </div>
                }         
        </div>     
    </div>
    <script type="text/javascript">
        $('input[name="daterange"]').daterangepicker();
        $('input[name="daterange"]').on('apply.daterangepicker', function (ev, picker) {
            var URL = '@Url.Action("GetDataAboutViews","Home")';
            $.ajax({
                url: URL,
                type: 'POST',
                data: { "idProduct": @Model.Product.Id, "dateStart": picker.startDate.format('DD-MM-YYYY'), "dateEnd": picker.endDate.format('DD-MM-YYYY') },
                dataType: "json",
                success: function (request) {
                    let views = new Array();
                    let counterV = new Array();
                    let counterB = new Array();
                    $(request).each(function (index, viw){
                        views.push(viw.datetime);
                        counterV.push(viw.countViews);
                        counterB.push(viw.countBuyProduct)
                    });
                    Highcharts.chart('container', {
                        chart: {
                            type: 'line'
                        },
                        title: {
                            text: 'Просмотры и покупки продукции'
                        },
                        xAxis: {
                            categories: views
                        },
                        yAxis: {
                            title: {
                                text: 'Количество (ШТ.)'
                            }
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true
                                },
                                enableMouseTracking: false
                            }
                        },
                        series: [{
                            name: 'Просмотры',
                            data: counterV
                        }, {
                            name: 'Покупки',
                            data: counterB
                        }]
                    });
                },
                error: function (err) {
                    alert(err);
                }
            });
        });
    </script>
    <script type="text/javascript">
        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
        };

    </script>
</body>
</html>
<style>
    .trborder{
        margin: 0px 0 0px 600px;
    }
</style>
<link href="~/css/homeStyle.css" rel="stylesheet" />
