@using vp_server.Models;
@model vp_server.Models.ViewModels.PaymentManufacturer
@{
    ViewBag.NamePage = "Добавление характеристик";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <body>
    <div class="main">
        <div class="container">
            <div class="marga">
                <div class="row">
                    @using (Html.BeginForm("CreateManufacturer", "Home", FormMethod.Post))
                    {
                        <p>
                            <label class="form-label">Название производителя:</label>
                            <input type="text" asp-for="Manufacturer.Title" class="form-control" />
                            <span asp-validation-for="Manufacturer.Title" />
                        </p>
                        <p>
                            <input type="submit" class="btn btn-primary" value="Записать" />
                        </p>
                    }
                </div>
                <div class="row">
                    @using (Html.BeginForm("UpdatePayment", "Home", FormMethod.Post))
                    {
                        <input type="number" hidden="hidden" asp-for="PaymentDetail.Id" value="@Model.PaymentDetail.Id"/>
                        <p>
                            <label for="inp_BankName" class="form-label">Название банка:</label>
                            <input type="text" asp-for="PaymentDetail.BankName" value="@Model.PaymentDetail.BankName" class="form-control" id="inp_BankName" />
                            <span asp-validation-for="PaymentDetail.BankName"/>
                        </p>
                        <p>
                            <label for="inp_BankINN" class="form-label">ИНН банка</label>
                            <input type="number" asp-for="PaymentDetail.BankInn" value="@Model.PaymentDetail.BankInn" class="form-control" id="inp_BankINN" />
                            <span asp-validation-for="PaymentDetail.BankInn"/>
                        </p>
                        <p>
                            <label for="inp_BankKPP" class="form-label">КПП банка</label>
                            <input type="number" asp-for="PaymentDetail.BankKpp" value="@Model.PaymentDetail.BankKpp" class="form-control" id="inp_BankKPP" />
                            <span asp-validation-for="PaymentDetail.BankKpp"/>
                        </p>
                        <p>
                            <label for="inp_BankKS" class="form-label">К/С банка</label>
                            <input type="number" asp-for="PaymentDetail.BankKs" value="@Model.PaymentDetail.BankKs" class="form-control" id="inp_BankKS" />
                            <span asp-validation-for="PaymentDetail.BankKs"/>
                        </p>
                        <p>
                            <label for="inp_BIK" class="form-label">БИК</label>
                            <input type="number" asp-for="PaymentDetail.Bik" value="@Model.PaymentDetail.Bik" class="form-control" id="inp_BIK" />
                            <span asp-validation-for="PaymentDetail.Bik"/>
                        </p>
                        <p>
                            <label for="inp_RS" class="form-label">Персональный расчетный счет</label>
                            <input type="number" asp-for="PaymentDetail.PersonalRs" value="@Model.PaymentDetail.PersonalRs" class="form-control" id="inp_RS" />
                            <span asp-validation-for="PaymentDetail.PersonalRs"/>
                        </p>
                        <p>
                            <label form="inp_firmName" class="form-label">Название фирмы</label>
                            <input type="text" asp-for="PaymentDetail.FirmName" value="@Model.PaymentDetail.FirmName" class="form-control" id="inp_firmName" />
                            <span asp-validation-for="PaymentDetail.FirmName"/>
                        </p>
                        <p>
                            <input type="submit" class="btn btn-primary" value="Обновить"/>
                        </p>
                    } 
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<link href="~/css/homeStyle.css" rel="stylesheet"/>