@using vp_server.Models
@model vp_server.Models.Product
@{
    ViewBag.NamePage = "Добавление товара";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
    <body>
    <div class="main">
        <div class="container">          
                @using (Html.BeginForm("CreateProduct", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <div class="marga">
                        <div class="row">
                        <div class="col-lg">
                            <p>
                                <label class="form-label">Название:</label>
                                <input type="text" class="form-control" asp-for="Title" />
                                <span asp-validation-for="Title" />
                            </p>
                            <p>
                                <label class="form-label">Стоимость:</label>
                                <input type="number" step="any" min="0" class="form-control" asp-for="Cost" />
                                <span asp-validation-for="Cost" />
                            </p>
                            <p>
                                <label class="form-label">Материал:</label>
                                @Html.TextBoxFor(p => p.Material,null,new{@class="form-control"})
                            </p>
                            <p>
                                <label class="form-label">Количество на складе:</label>
                                @Html.TextBox("quantity", null, new { @class = "form-control", @type = "number" })
                            </p>
                            <p>
                                <label class="form-label">Производитель:</label>
                                @Html.DropDownListFor(p => p.ManufacturerId, ViewBag.manufacturers as SelectList, null, new { @class = "form-control" })
                            </p>
                            <p>
                                <label class="form-label">Категория:</label>
                                @Html.DropDownListFor(p => p.CategoryId, ViewBag.categories as SelectList, null, new { @class = "form-control" })
                            </p>
                            <p>
                                <label class="form-label">Содержание никотина:</label>
                                @Html.DropDownListFor(p => p.NicotineTypeId, ViewBag.nicotine as SelectList, null, new { @class = "form-control" })
                            </p>
                            <p>
                                <label class="form-label">Крепкость:</label>
                                @Html.DropDownListFor(p => p.StrengthId, ViewBag.strenght as SelectList, null, new { @class = "form-control" })
                            </p>
                            <p><label class="form-label">Изображение:</label></p>
                            <p>                               
                                <label>
                                    <img id="uploadPreview" style='width:400px; height:400px;' class="rounded-3" src="/images/stub.jpg" />
                                    <input id="uploadImage" onchange="PreviewImage();" type="file" name="PhotoFile" enctype="multipart/form-data" style="display:none" />
                                </label>                                
                            </p>
                            <p>
                                <input type="submit" class="btn btn-primary" value="Добавить" />
                            </p>
                            </div>                  
                        </div>                   
                </div>
                }
        </div>
    </div>
    <script type="text/javascript">
        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("uploadImage").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("uploadPreview").src = oFREvent.target.result;
            };
        };

    </script>
    </body>
</html>
<script src="~/js/jquery.validate.min.js"></script>
<script src="~/js/jquery.validate.unobtrusive.min.js"></script>
<link href="~/css/homeStyle.css" rel="stylesheet" />